@import "~antd/lib/style/index";
.hover-button {
  border: none;
  box-shadow: 15px 20px 20px #3d3d3d1c;
  color: black;
}
.container {
  position: relative;
  margin: 0rem 1rem 0rem 1rem;
  // width: 50%;
}
.container-mobile {
  position: relative;
  box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.199);
  border-radius: 20px;
}
.container:hover .overlay {
  opacity: 1;
}
.container-mobile:hover .overlay-mobile {
  opacity: 1;
}
.main {
  font-size: 3.5vw;
  font-weight: bold;
  margin-top: -7rem;
  padding-left: 1rem;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
  height: 33.1vh;
  width: 25.7vw;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #2d41c5;
  margin-top: 2.2rem;
  border-radius: 17px;
  margin-left: 0.8rem;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  font-size: 1.3vw;
  text-align: center;
  font-weight: bold;
}
.overlay-mobile {
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
  height: 29.85vh;
  width: 90.2vw;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #2d41c5;
  border-radius: 20px;
  padding-top: 6.5rem;
  padding-bottom: 5.5rem;
  font-size: 3vw;
  text-align: center;
  font-weight: bold;
}

.section1 {
  background-image: url("/image/bg-mediasoft.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.section1-mobile {
  background-image: url("/image/bg-mediasoft-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  padding-left: 1rem;
  padding-right: 1rem;
}
.section-button {
  margin-top: -3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.col1 {
  z-index: 2;
}
.col2 {
  z-index: 2;
}
.logo {
  width: 32vw;
  height: 50vh;
}
.typograph-main {
  font-size: 1.4vw;
  font-weight: bold;
  margin-top: -3rem;
  padding-left: 1rem;
  color: #2d41c5;
}
.typograph-sub {
  font-size: 1.3vw;
  margin-top: -7.5rem;
  padding-left: 1rem;
  padding-right: 25rem;
}
.logo-row {
  margin-top: -5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 1024px) {
  .section1 {
    background-image: url("/image/bg-mediasoft.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .container {
    position: relative;
    margin: 1rem;
    // width: 50%;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    height: 15.2vh;
    width: 25.7vw;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #2d41c5;
    border-radius: 17px;
    margin-left: 0.8rem;
    font-size: 1.3vw;
    text-align: center;
    font-weight: bold;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 1.4rem;
  }
  .logo {
    width: 32vw;
    height: 22vh;
  }
}
@media (max-width: 1440px) {
  .section1 {
    background-image: url("/image/bg-mediasoft.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .container {
    position: relative;
    // width: 50%;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    height: 21.4vh;
    width: 25.7vw;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #2d41c5;
    border-radius: 17px;
    margin-left: 1.4rem;
    font-size: 1.3vw;
    text-align: center;
    font-weight: bold;
    padding-top: 5.7rem;
    padding-bottom: 5.7rem;
    margin-top: 1.55rem;
  }
  .logo {
    width: 33vw;
    height: 30vh;
  }
  .main {
    font-size: 3.5vw;
    font-weight: bold;
    margin-top: -10rem;
    padding-left: 1rem;
  }
  .typograph-main {
    font-size: 1.4vw;
    font-weight: bold;
    margin-top: -4rem;
    padding-left: 1rem;
    color: #2d41c5;
  }
  .logo-row {
    margin-top: -8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .typograph-sub {
    font-size: 1.3vw;
    margin-top: -9.5rem;
    padding-left: 1rem;
    padding-right: 25rem;
  }
}
@media (max-width: 767px) {
  .logo a {
    margin-left: -20px;
  }
}

// @media (min-width: 1920px) {
//   .overlay {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     color: white;
//     height: 23.3vh;
//     width: 21vw;
//     opacity: 0;
//     transition: 0.5s ease;
//     background-color: #2d41c5;
//     margin-top: 1.85rem;
//     border-radius: 20px;
//     margin-left: 1rem;
//     padding-top: 6rem;
//     padding-bottom: 6.5rem;
//     font-size: 1.3vw;
//     text-align: center;
//     font-weight: bold;
//   }
//   .typograph-main {
//     font-size: 1.6vw;
//     font-weight: bold;
//     margin-top: -3rem;
//     padding-left: 1rem;
//     color: #2d41c5;
//   }
//   .typograph-sub {
//     font-size: 1.5vw;
//     margin-top: -7.5rem;
//     padding-left: 1rem;
//     padding-right: 25rem;
//   }
//   .main {
//     font-size: 2.8vw;
//     font-weight: bold;
//     margin-top: -7rem;
//     padding-left: 1rem;
//   }
// }
@media (min-width: 320px) {
  .brand-mobile {
    width: 90vw;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    height: 22.95vh;
    width: 27.95vw;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #2d41c5;
    margin-top: 1.85rem;
    border-radius: 20px;
    margin-left: 1.85rem;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    font-size: 1.3vw;
    text-align: center;
    font-weight: bold;
  }
}
